.body-onContact {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.contact-main-data {
    background-image: linear-gradient(31deg, rgba(25, 180, 147, 0.4598214285714286) 0%, rgba(26, 130, 218, 0.44861694677871145) 46%, rgba(2, 22, 78, 0.4234068627450981) 100%);
    margin: 50px 40px 20px 60px;
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border: inherit;
    padding: 60px;
    padding-top: 30px;
    font-family: segoe ui;
    color: #ffffff;
    display: block;
}

.contact-title {
    font-family: segoe ui;
    font-size: 48px;
    font-weight: 200;
    color: #ffffff;
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.name-label {
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    padding-top: 10px;
}

#full-input {
    width: 100%;
    height: 25px;
    padding: 5px;
    background-color: #ffffff;
    font-style: italic;
    font-size: 14px;
    font-family: segoe ui;
    border-radius: 24px;
    border-style: solid;
    border: inherit;
}

#full-input:hover {
    border: 1px solid #030736;
}

#comment {
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color: #ffffff;
    font-style: italic;
    font-size: 14px;
    font-family: arial;
    border-radius: 10px;
    border-style: solid;
}

#comment:hover {
    border: 1px solid #030736;
}

#submit {
    margin-top: 30px;
    width: fit-content;
    height: 40px;
    padding: 10px;
    font-family: segoe ui;
    font-size: 14px;
    background-color: white;
    border-radius: 3px;
    border-style: solid;
    border: inherit;
    float: right;
}

#submit:hover {
    background-color: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
}

.contact-data {
    background-image: linear-gradient(31deg, rgba(25, 180, 147, 0.4598214285714286) 0%, rgba(26, 130, 218, 0.44861694677871145) 46%, rgba(2, 22, 78, 0.4234068627450981) 100%);
    margin: 100px 60px 20px 900px;
    float: left;
    width: 20%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border: inherit;
    padding: 60px;
    padding-top: 30px;
    position: fixed;
    font-family: arial;
    color: #ffffff;
}

.contact-media {
    font-family: segoe ui;
    font-size: 90px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    margin: 20px 20px 0px 20px;
    text-decoration: none;
}

.contact-media a {
    color: white;
    margin-top: 20px;
}